
a,
a:focus,
a:hover {
    color: #fff;
    background-color: lightslategrey;
    padding: 1px 6px;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focs {
    color: #333;u
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}
h1{
    z-index: 300;
}
/*
 * Base structure
 */

html,
body {
    height: 100%;
    z-index: 30;
    color: black;
}

.thisButton {
    margin-left: auto;
    margin-right: auto;
}

body {
    color: black;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

.container.body-content{
    position: relative;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}
/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

    .masthead-nav > li + li {
        margin-left: 20px;
    }

    .masthead-nav > li > a {
        padding-right: 0;
        padding-left: 0;
        font-size: 16px;
        font-weight: bold;
        color: #fff; /* IE8 proofing */
        border-bottom: 2px solid transparent;
    }

        .masthead-nav > li > a:hover,
        .masthead-nav > li > a:focus {
            background-color: transparent;
            border-bottom-color: #a9a9a9;
            border-bottom-color: rgba(255,255,255,.25);
        }

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 276px 100px;
}

    .cover .btn-lg {
        padding: 10px 20px;
        font-weight: bold;
    }

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
}

.myButton {
    box-shadow: inset 0px 0px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 9px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
}

.myButton:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
}

.myButton:active {
    position: relative;
    top: 1px;
}




